
completenessContours/out__0000.fits.gz
completenessContours/out__0001.fits.gz
completenessContours/out__0002.fits.gz
completenessContours/out__0003.fits.gz
completenessContours/out__0004.fits.gz
completenessContours/out__0005.fits.gz
completenessContours/out__0006.fits.gz
completenessContours/out__0007.fits.gz
stellarCatalogs/*.txt
stellarCatalogs/*.csv
dfm_exopop.ipynb
computeOccurrence_dfm.ipynb
data/q1_q16_koi.h5
data/q1_q16_stellar.h5
.ipynb_checkpoints/computeOccurrence_dfm-checkpoint.ipynb
.ipynb_checkpoints/dfm_exopop-checkpoint.ipynb
.ipynb_checkpoints/Untitled*
Untitled*
*.png
*.eps
GKburke
GKbaseline/*.eps
GKbaseline/*.png
GKbaseline/*.npy
GKbaseline/Chris
GKbaseline/Untitled*
GKbaseline/occurenceRatePosteriors/*
GKbaseline_noMesSmear/*.eps
GKbaseline_noMesSmear/*.png
GKbaseline_noMesSmear/*.npy
GKbaseline_noMesSmear/occurenceRatePosteriors/*
GKbaseline_noVE/*.eps
GKbaseline_noVE/*.png
GKbaseline_noVE/*.npy
GKbaseline_noVE/occurenceRatePosteriors/*
GKbaselineSC0p9/*.eps
GKbaselineSC0p9/*.png
GKbaselineSC0p9/*.npy
GKbaselineSC0p9/occurenceRatePosteriors/*
GKbaseline_kic/*.eps
GKbaseline_kic/*.png
GKbaseline_kic/*.npy
GKbaseline_kic/occurenceRatePosteriors/*
GKbaseline_radCut/*.eps
GKbaseline_radCut/*.png
GKbaseline_radCut/*.npy
GKbaseline_radCut/occurenceRatePosteriors/*
